@import "../assets/variables.scss";
@import "../common-styles/normolize.css";

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    padding-left: 82px;
    padding-right: 82px;
    overflow: hidden;
}

.heading {
    font-family: $font-family;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;

    &-top {
        width: 33.7%;
        margin: 0;
        font-size: 32px;
        letter-spacing: 0.18em;
        text-align: center;
        color: $static-white;
    }

    &-mini {
        font-size: 24px;
        letter-spacing: 0.16em;
        color: $dark;
        margin: 0;

        &--white {
            color: $static-white;
        }
    }

    &-gift-item {
        font-size: 16px;
        letter-spacing: 0.08em;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &-small {
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.05em;
        color: $dark;
        text-decoration: none;

        &--white {
            color: $static-white;
        }

        &--indent-cta {
            margin: 0;
        }
    }

    &-work {
        color: $tag-purple;
    }

    &-health {
        color: $tag-green;
    }

    &-harmony {
        color: $tag-pink;
    }

    &-bottom {
        font-weight: 400;
        font-size: 16px;
        line-height: 148%;
        margin: 18px 0 11px;
        text-transform: none;
    }
}

.tag {
    padding-top: 20px;
    margin-bottom: 8px;
    margin-top: -4px;
}

.text {
    margin: 20px 0;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: $dark;
}

.elegant-text {
    font-family: $second-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: $primary;
    margin: 0 0 12px;

    &--white {
        color: $static-white;
    }
}

.button {
    background-color: $dark;
    padding: 18px 30px;
    font-family: $font-family;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $static-white;
    border-radius: 22px;

    &--indent-cta {
        margin: 20px 0 19px;
    }
}

.gift-item {
    width: 310px;
    background-color: $content-background;
    border-radius: 20px;

    &__text {
        padding-left: 20px;
        height: 112px;
        border-radius: 20px;
        background-color: $static-white;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 21px;

    .logo {
        display: flex;
        align-items: center;

        &__img {
            margin-right: 9px;
        }

        &__link {
            text-decoration: none;
        }
    }

    .menu ul {
        display: flex;
        align-items: center;
        gap: 48px;
        list-style-type: none;
    }
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    .heading-gift-item {
        margin-top: 12px;
        margin-bottom: 0;
    }

    &__contacts {
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $content-background;
        border-radius: 20px;
        padding: 15px 19px;
        width: 26.3%;

        &__link {
            text-decoration: none;
            color: $dark;
            display: inline-block;
            margin-top: 20px;
        }
    }

    &__bottom {
        margin-top: 67px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-networks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 34px;
    }

    .elegant-text {
        margin: 0;
    }

    .rs-link {
        text-decoration: none;
        color: $dark;
    }
}