@import "../common-styles/normolize.css";
@import "../../../common-styles/normolize.css";
html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 82px;
  padding-right: 82px;
  overflow: hidden;
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
}
.heading-top {
  width: 33.7%;
  margin: 0;
  font-size: 32px;
  letter-spacing: 0.18em;
  text-align: center;
  color: #fff;
}
.heading-mini {
  font-size: 24px;
  letter-spacing: 0.16em;
  color: #181c29;
  margin: 0;
}
.heading-mini--white {
  color: #fff;
}
.heading-gift-item {
  font-size: 16px;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 20px;
}
.heading-small {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
  text-decoration: none;
}
.heading-small--white {
  color: #fff;
}
.heading-small--indent-cta {
  margin: 0;
}
.heading-work {
  color: #4361ff;
}
.heading-health {
  color: #06a44f;
}
.heading-harmony {
  color: #ff43f7;
}
.heading-bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  margin: 18px 0 11px;
  text-transform: none;
}

.tag {
  padding-top: 20px;
  margin-bottom: 8px;
  margin-top: -4px;
}

.text {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #181c29;
}

.elegant-text {
  font-family: "Allura", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ff4646;
  margin: 0 0 12px;
}
.elegant-text--white {
  color: #fff;
}

.button {
  background-color: #181c29;
  padding: 18px 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border-radius: 22px;
}
.button--indent-cta {
  margin: 20px 0 19px;
}

.gift-item {
  width: 310px;
  background-color: #ecf3f8;
  border-radius: 20px;
}
.gift-item__text {
  padding-left: 20px;
  height: 112px;
  border-radius: 20px;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  align-items: center;
}
.header .logo__img {
  margin-right: 9px;
}
.header .logo__link {
  text-decoration: none;
}
.header .menu ul {
  display: flex;
  align-items: center;
  margin: 0;
  list-style-type: none;
  padding: 11px 0 12px;
}
.header .menu-item {
  padding: 12px 23.5px;
  border-radius: 12px;
}
.header .menu-item-checked {
  background-color: rgba(255, 70, 70, 0.1);
  color: #ff4646;
}
.header .menu-item .checked-red {
  color: #ff4646;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .heading-gift-item {
  margin-top: 12px;
  margin-bottom: 0;
}
.footer__contacts {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.footer .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecf3f8;
  border-radius: 20px;
  padding: 15px 19px;
  width: 26.3%;
}
.footer .card-item__link {
  text-decoration: none;
  color: #181c29;
  display: inline-block;
  margin-top: 20px;
}
.footer__bottom {
  margin-top: 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.footer .elegant-text {
  margin: 0;
}
.footer .rs-link {
  text-decoration: none;
  color: #181c29;
}

.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff4646;
  padding-bottom: 60px;
  border-radius: 19px;
}
.gift__top {
  width: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../../assets/images/bg-garland.png);
  background-size: contain;
}
.gift__tags {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 20px auto;
}
.gift .tag-selection {
  padding: 12px 18.4px;
  background: none;
  border: none;
}
.gift .tag-selection:first-child {
  padding: 12px 20px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}
.gift__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}/*# sourceMappingURL=style.css.map */