@import "../../../assets/variables.scss";
@import "../../../common-styles/common-styles.css";

.main {
    background-color: $primary;
    background-image: url(../../../assets/images/bg-snow.png);
    background-size: contain;
    border-radius: 19px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-image: url(../../../assets/images/bg-ball.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 116px 0 168px;

    & .elegant-text {
        margin: 0 0 13px;
    }

    & .button {
        margin: 12px auto;
    }
}

.about {
    display: flex;
    background-color: $static-white;
    border-radius: 20px;
    padding-left: 60px;
    margin-left: 82px;
    margin-right: 82px;

    &__content {
        padding-top: 161px;
        padding-right: 152px;
    }

    &__img {
        border-radius: 20px;
    }

    .elegant-text {
        margin-bottom: 19px;
    }
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 118px;
    color: white;

    &__box {
        width: 1440px;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    &__text {
        margin: 0 20.4px;
        font-family: $font-family;
        font-weight: 600;
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        color: $static-white;

        &:first-child {
            padding-left: 63px;
        }
    }

    &__img {
        border-radius: 20px;
    }

    &__nav {
        align-self: flex-end;
        padding-right: 82px;

        .arrow {
            padding: 15px;
            border: 1px solid $static-white;
            border-radius: 20px;

            path {
                fill: $static-white;
            }

            &-disabled {
                border-color: $static-white-40;
                margin-right: 15px;
                cursor: default;
            }

            &-active:hover {
                cursor: pointer;
                background-color: $static-white;
                color: $primary;
                transition: 0.6s ease;

                path {
                    stroke: $primary;
                }

            }
        }
    }
}

.best-gifts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__box {
        margin: 17px auto;
        display: flex;
        justify-content: center;
        gap: 12px;
    }
}

.cta {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/images/bg-forest.png);
    background-size: contain;
    align-items: center;
    padding-top: 177px;
    margin-top: 47px;
    padding-bottom: 180px;

    h2 {
        width: 27%;
        text-align: center;
    }

    .elegant-text {
        margin-bottom: 8px;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 8px 12px 12px 12px;
        background-color: $static-white-40;
    }

    &__item {
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &~&::before {
            background-color: $static-white-40;
            width: 1px;
            height: 20px;
            content: "";
            position: absolute;
            left: 0;
            top: 29%;
        }
    }
}